:root {
	--dark-blue: 0, 68, 124;
	--magenta: 191, 102, 181;
	--text: 22, 22, 22;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';
	font-size: 16px;
	color: rgb(var(--text));
}

echo-header header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(var(--dark-blue), .15);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 4px;
	z-index: 1;
}

main {
	position: relative;
	height: 100vh;
}

.call-to-action {
	background: linear-gradient(rgb(0, 108, 199), rgb(var(--dark-blue)));
	border: none;
	outline: none;
	border-radius: 8px;
	color: white;
	font-size: 1.2rem;
	font-family: 'Montserrat';
	padding: 16px 42px;
	margin: 0 16px;
	cursor: pointer;
	text-decoration: none;
}

#cta-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 55%;
}

#donate-btn {
	background: linear-gradient(rgb(0, 108, 199), rgb(var(--dark-blue)));
	border: none;
	outline: none;
	border-radius: 8px;
	color: white;
	font-size: 1rem;
	font-family: 'Montserrat';
	padding: 8px 24px;
	margin: 0 16px;
	cursor: pointer;
}

#curve {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url('../assets/curve.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}

#gradient {
	position: relative;
	width: 100%;
	height: 45%;
	background: radial-gradient(47.33% 709.16% at 100% 0%, #BF66B5 0%, rgba(212, 71, 248, 0) 100%), 
							radial-gradient(50% 749.22% at 50% 40.99%, rgba(200, 245, 255, 0.5) 0%, #00447C 100%);
	box-sizing: border-box;
	padding: 100px 0 0 0;
}

#logo {
	width: 48px;
	margin: 0 16px;
}

#nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	margin: 8px 0;
}

#nav-links a {
	text-decoration: none;
	color: rgb(var(--text));
	padding: 0 16px;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#title h1 {
	margin: 0;
}